<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Inbox</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
    <link rel="stylesheet" href="/styles/inbox.css">
</head>
<body>

<div class="inbox-container">
    <div class="header1">
        <h1>Internship Inbox</h1>
    </div>

    <div class="internship-details">
        <div class="internship-card animated">
            <div class="card-header">
                <h2>Qualcom enterprises</h2>
                <p>Date: January 2023 - April 2023</p>
            </div>
            <div class="card-body">
                <p>Role: Software Developer Intern</p>
                <p>Tasks: Worked on developing web applications using HTML, CSS, and JavaScript.</p>
            </div>
        </div>

        <div class="internship-card animated">
            <div class="card-header">
                <h2>Delloite</h2>
                <p>Date: January 2023 - April 2023</p>
            </div>
            <div class="card-body">
                <p>Role: Software Developer Intern</p>
                <p>Tasks: Worked on developing web applications using HTML, CSS, and JavaScript.</p>
            </div>
        </div>

        <div class="internship-card animated">
            <div class="card-header">
                <h2>Capegemini</h2>
                <p>Date: January 2023 - April 2023</p>
            </div>
            <div class="card-body">
                <p>Role: Software Developer Intern</p>
                <p>Tasks: Worked on developing web applications using HTML, CSS, and JavaScript.</p>
            </div>
        </div>
    </div>
</div>



<script src="/script.js"></script>
</body>
</html>
